

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4 text-center">
            <h3>Sign up form</h3>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form [formGroup]="form" (ngSubmit)="signUp()">
                <div class="alert" [ngClass]="bannerClass" *ngIf="showBanner">
                    {{bannerDescription}}
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input 
                        type="text" 
                        formControlName="email"
                        class="form-control">
                    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">email should be valid</div>
                </div>
                <div class="form-group">
                    <label for="signupreason">reason for signing up:</label>
                    <input 
                        type="text" 
                        formControlName="signupreason"
                        class="form-control">
                </div>
                    
                <div class="form-group">
                    <label for="heardaboutus">How did you hear about us?</label>
                    <div class="radio" *ngFor="let item of reasonItems">
                        <label><input 
                            type="radio" 
                            formControlName="reasonItems"
                            [value]="item.id"
                            name="reasonItems">&nbsp;{{item.description}}</label>
                    </div>
                    <div *ngIf="reasons.invalid && reasons.touched" class="alert alert-danger">select an option</div>
                </div>
                <div class="form-group"><button class="btn btn-primary float-right">Submit</button></div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
